@{
    ViewBag.Title = "Senha alterada com sucesso";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>
<div>
    <p>
        Sua senha foi modificada. Favor @Html.ActionLink("clicar aqui para fazer o login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
