@{
    ViewBag.Title = "Sistema Loja";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/Content/carousel.css" />
</head>

<body>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/01.png" alt="Técnologia">
                <div class="carousel-caption">
                    <h2>Sistemas com ASP NET</h2>
                    <p><small><small><small> já a criar seus sistemas usando o modelo MVC e banco de dados SQL</small></small></small></p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/02.png" alt="Técnologia">
                <div class="carousel-caption">
                    <h2>Sistemas com ASP NET</h2>
                    <p><small><small><small> já a criar seus sistemas usando o modelo MVC e banco de dados SQL</small></small></small></p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/03.png" alt="Técnologia">
                <div class="carousel-caption">
                    <h2>Sistemas com ASP NET</h2>
                    <p><small><small><small> já a criar seus sistemas usando o modelo MVC e banco de dados SQL</small></small></small></p>
                </div>
            </div>
            ...
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="~/images/felipe.jpg" width="140" height="140">
                <h2>Felipe Souza</h2>
                <p>
                    Há mais de 2 anos trabalhando como Analista/Desenvolvedor.
                    Atualmente estudando ASP.NET MVC e outras váriedades de tecnologias.
                    Meu hobbie é jogar video-game de preferência FIFA =D.
                </p>
                <p><a class="btn btn-default" href="#" role="button">Ver Detalhes</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="~/images/tec1.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Sistema ASP NET</h2>
                <p>Neste módulo finalizamos o sistema de ordem de pedidos criado em ASP NET com SQL e MVC.</p>
                <p><a class="btn btn-default" href="#" role="button">Ver Detalhes</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="~/images/tec2.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Publicação com ASP</h2>
                <p>Neste módulo é mostrado o passo a passo de como publicar uma aplicação em asp net com sql, usamos um servidor gratuito para podermos hospedar, existem hoje em dia vários servidores com este tipo de suporte no mercado.</p>
                <p><a class="btn btn-default" href="#" role="button">Ver Detalhes</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
</body>